.buildpath
.project
.settings
.idea
.DS_Store
.rsync_cache
catalog.xml
nbproject/
app/logs/*
app/cache/*
app/spool/*
app/bootstrap/*
vendor/*
web/uploads/*
web/bundles/*
web/css/*
web/images/*
web/js/*
web/media/cache/*
*~
app/config/parameters.yml
